# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private

# Ignore default text files
robots.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/README.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt


.DS_Store
.idea
*.sql
*.tar.gz
/nbproject/private/