/*************************** Share button *****************************/
/* outer wrapper */
#share-wrapper {
	margin-top: 155px;
	position:fixed;
	left: 0;
  z-index: 100;
}

/* inner wrapper */
#share-wrapper ul.share-inner-wrp{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/* the list */
#share-wrapper li.button-wrap {
	background: #E4EFF0;
	padding: 0px 0px 0px 10px;
	display: block;
	width: 140px;
	margin: 0px 0px 1px -117px;
}

/* share link */
#share-wrapper li.button-wrap > a {
	padding-right: 60px;
	height: 32px;
	display: block;
	line-height: 32px;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

/* background image for each link */
#share-wrapper .facebook > a{
	background: url(../images/buttons/facebook.jpg) no-repeat right;
}
#share-wrapper .twitter > a{
	background: url(../images/buttons/twitter.jpg) no-repeat right;
}
#share-wrapper .digg > a{
	background: url(../images/buttons/digg.jpg) no-repeat right;
}
.stumbleupon > a{
	background: url(../images/buttons/stumbleupon.jpg) no-repeat right;
}
#share-wrapper .delicious > a{
	background: url(../images/buttons/delicious.jpg) no-repeat right;
}
#share-wrapper .google > a{
	background: url(../images/buttons/google.jpg) no-repeat right;
}

/* small screen */
@media all and (max-width: 699px) {
	#share-wrapper {
		bottom: 0;
		position: fixed;
		padding: 5px 5px 0px 5px;
		background: #EBEBEB;
		width: 100%;
		margin: 0px;
		-webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
		-o-box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
	}
	#share-wrapper ul.share-inner-wrp {
		list-style: none;
		margin: 0px auto;
		padding: 0px;
		text-align: center;
		overflow: auto;
	}
	#share-wrapper li.button-wrap {
		display: inline-block;
		width: 32px!important;
		margin: 0px;
		padding: 0px;
		margin-left:0px!important;
	}
	#share-wrapper li.button-wrap > a {
		height: 32px;
		display: inline-block;
		text-indent: -10000px;
		width: 32px;
		padding-right: 0;
		float: left;
	}
}
/**********************************************************/