body {
    background-color: #019682!important;
}

div#page {
    background-color: #019682!important;
}

input {
    padding: 0px;
}

html.js input.form-autocomplete {
    background-position: 100% 4px;
}

body.node-type-page h1.page-title {
    display: none ;
}

.galleryview {
    margin-bottom: 50px;
}

.page-node #content-wrap .gallery-slides img {
    border: 0px;
    padding: 0px;
    max-width: 100%;
    margin: 0px;
}

#map_canvas {
    margin-top: 10px!important;
    width: 100%;
    height: 500px

}

#mapa_control{
    float:left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#page div.field {
    margin-bottom: 10px;
}

#outerImageContainer {
    border-radius: 20px;
}

#imageData {
    display: none;
}

#imageContainer img {
    border-radius: 20px;
}

.views-exposed-widgets {
    padding: 10px;
    background-color: #DADADA;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

#slidebox > ul.slides > li.flex-active-slide > div > h2 {
    background-color: #f4473a;
    opacity: 0.95;
}

.view-autores td,
.view-display-id-page .view-esculturas td {
    width: auto;
    text-align: center;
}

#primary td {
    vertical-align: top;
    border: 0px;
}

#primary .view-display-id-page td {
    padding: 10px;
    margin: 10px;
    border: 0px;
    width: 50%;
}

#primary .view-display-id-page table {
    border: 0px;
}

.views-field-title,
.view-display-id-page .views-field-title{
    font-size: 20px;
    font-weight: bold;
    color: #019682;
    background-color: #DADADA;
    opacity: 0.90;
    display: block;
    border-radius: 0px 0px 8px 8px;
    text-align: center!important;
}

.views-field-title a:hover,
.view-display-id-page .views-field-title a:hover{
    font-size: 20px;
    font-weight: bold;
    color: #fff!important;
    background-color: #019682;
    opacity: 0.90;
    display: block;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
}

.view-display-id-page .views-field.views-field-field-fotos  {
    width: 220px;
}

.view-display-id-page .views-field {
    text-align: left;
    margin: 0px 0px;

}

.view-display-id-page .views-field .field-content {
    display: block;
}

.field-name-field-premios .field-items {
    margin: 10px;
}

.field-name-field-premios .field-items .field-item {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #eee;
}

.field-name-field-premios .field-items .field-item.last {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.views-label{
    background-color: #DADADA;
    display: block;
    border-radius: 0px 0px 8px 8px;
    margin-top: 10px;
}

.google_map_field_display {
    margin : 10px auto;
}

.galleryformatter-greenarrows .gallery-thumbs .arrow {
    bottom: 25px;
    display: block;
    height: 46px;
    position: absolute;
    text-indent: -9999px;
    width: 46px;
}

.page-node.node-type-page #content-wrap img {
    border: 0px;
    padding: 0px;
    height: auto;
    max-width: 100%;
    margin: 0px;
}

.addtoany_list.a2a_kit_size_32 > a {
    font-size: 32px;
    line-height: 0px;
}

span.a2a_kit.a2a_kit_size_32.a2a_target.addtoany_list {
    position: absolute;
    top: -50px;
    right: -55px;
    width: 184px;
}

body.page-node div#content-wrap {
    position: relative;
}

body.page-node .comments {
    margin: 50px 0px;
}

body.front h1.page-title {
    display: none;
}

.field.field-name-field-ubicacion {
    float: left;
    width: 100%;
    margin-right: 30px;
}

.field.field-name-field-mapa {
    float: left;
    width: 100%;
}

.field.field-name-field-mapa .field-label {
    display: none;
}

.field.field-name-field-tags {
    clear: both;
}

td.views-field.views-field-field-fotos {
    text-align: center;
}

.galleryformatter-greenarrows .gallery-thumbs .wrapper {
    background: none;
}

.galleryformatter-greenarrows .view-full {
    background: url("../images/lupa.png") no-repeat scroll 0 0 transparent;
    width: 46px;
    height: 46px;
}

.galleryformatter-greenarrows a:hover .view-full:hover {
    background: url("../images/lupa.png") no-repeat scroll 0 0 transparent;
    background-size: 46px 46px;
}

header div.row {
    background-color: #009681;
    color: #fff;
}

div.col-sm-6.mainmenu {
    background-color: #fff;
    min-height: 42px;
    color: #fff;
    float: none;
    width: 100%;
}

#main-menu li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

#main-menu li.leaf.active-trail {
    background-color: #005962;
}

#main-menu {
    height: 45px;
    border-bottom: none;
    float: left;
    margin: 0px;
    padding: 0px;
}

#navigation {
    float: none;
    color: #fff;
}

#main-menu a.active, #main-menu > ul > li > a.active-trail,
#main-menu li a {
    color: #FFF;
}

#main-menu a.active,
#main-menu li a:hover {
    color: #009bb8;
}

#logo {
    float: none;
    width: 100%;
    min-height: 100px;
}

#logo h1#site-title a {
    color: #fff;
}


#breadcrumbs {
    display: none;
}

#slidebox {
    max-height: 550px;
    position: relative;
    background: #000;
    max-width: 1200px;
    margin: 0 auto;
}

#main-content {
    max-width: 1200px;
    margin: 0 auto;
    color: #444;
    background-color: #fff;
    padding-top: 6px;
    margin-bottom: 0px;
}

div#page {
    background-color: #4b4b4d;
    color: #fff;
}

.site-footer {
    padding: 10px 0px;
    background: #4b4b4d;
    font-size: 12px;
}

.fcred{
    color: #026552!important;
    line-height: 40px;
}

.fcred a{
    font-weight: bold;
}

.fcred a:hover{
    color: #026552!important;
}


h1.page-title {
    color: #4b4b4b;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ccc;
    padding: 5px 20px;
    text-transform: uppercase;
    border-left: 20px solid #009bb8;
}

#slidebox > ul.slides > li.flex-active-slide > div > h2 {
    background-color: #009681;
    opacity: 0.95;
}

.txtlogo {
    height: 40px;
    margin-left: 10px;
}

.isologo {
    height: 40px;
}

#logo {
    min-height: 50px;
}

.search {
    position: absolute;
    right: 20px;
    top: 19px;
}

.search input[type=text] {
    width: 200px;
    height: 31px;
    border: 0px;
    margin-right: 0px;
}

.search input[type=submit] {
    background: none;
    border: 0;
    color: aliceblue;
    background-image: url(../images/lupa.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-radius: 0;
    box-shadow: none;
    background-position: 10px;
    width: 40px;
    text-indent: -100px;
    overflow: hidden;
}


@media all and (max-width: 713px) and (min-width: 0px) {
    .search {
        display: none;
    }
}

#primary, #sidebar {
    padding-top: 0px;
    padding-bottom: 20px;
}

.main-container{
    margin-top: 20px!important;
}

.fa{
    line-height: 50px!important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    width: 100%!important;
}

.twitter,
.google-plus,
.facebook{
    margin-right: 10px;
    margin-left: 10px;
}

a{
    color: inherit!important;
}

a:hover{
    color: #019682;
    text-decoration: none!important;
}

.field-content a{
    color: #333;
}

.field-content a:hover{
    color: #019682;
}

a .fa-facebook:hover{
    color: #4c66a4!important;
}

a .fa-twitter:hover{
    color: #55acee!important;
}

a .fa-google-plus:hover{
    color: #ee2e2e!important;
}


.btn-danger {
    background-color: #026552!important;
    border-color: #026552!important;
}

.btn-default{
    color: #777!important;
    border-color: #777!important;
    background-color: inherit!important;
}

.btn-default:focus,
.btn-default:hover{
    color: #019682!important;
    border-color: #019682!important;
    background-color: inherit!important;
}

.navbar-toggle{
    float: left!important;
    margin-left: 0px!important;
    color: #fff!important;
    background-color: #026552!important;
    border-color: #026552!important;

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color: #019682!important;
    background-color: transparent!important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #019682!important;
    background-color: transparent!important;
}

.navbar-default{
    margin-top: 25px!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff!important;
}

.page-header {
    text-transform:uppercase!important;
    padding-bottom: 0px!important;
    color: #019682!important;
    margin: 0px 0px 20px 0px!important;
    border-bottom: none!important;
    font-weight:bold;
}

body{
    color: #777!important;
}

.control-ubicame{
    float:right;
}

.main-container {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.multiselect-container{
    border-color: #019682!important;
    color: #000!important;
    text-align: left!important;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{
    background-color: #019682!important;
    color: #fff!important;

}

.view-autores .views-row,
.view-esculturas .views-row{
    width: 220px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-bottom: 5px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#block-views-esculturas-block-1 h2 {
  border-bottom: 3px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 20px;
}

.pager li > a, .pager li > span{
    background-color: #026552!important;
    border: 1px solid #026552!important;
    border-radius: 4px!important;
    color: #fff!important;
}

.view-content{
    margin-left: 20px!important;
}

ul.bjqs{
    border-radius: 4px;
}

ul.bjqs-controls{
    display: inline-block!important;
}

ul.bjqs-controls.v-centered li a{
    background-color: #fff!important;
    color: #019682!important;
    padding: 0px 10px 0px 10px!important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)!important;
    filter: alpha(opacity=90)!important;
    opacity: .9!important;
    display: inline-block!important;
}

ul.bjqs-controls.v-centered li a:hover{
    background-color: #026552!important;
    color: #fff!important;
}

.bjqs-caption{
    color: #fff!important;
    font-weight: bold!important;
    opacity: .9!important;
    padding: 30px!important;
    width: 100%!important;
    background: rgba(0, 149, 111, 0.4)!important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)!important;
    filter: alpha(opacity=90)!important;
    display: inline-block!important;
}

ol.bjqs-markers.h-centered{
    display: none!important;
}

.node-autores,
.node-escultura{
    max-width: 500px;
    margin: 0px auto;
    position: relative;
    display: block;
}

.node-autores img,
.node-escultura img{
    display: block;
    min-width: 200px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.field-type-number-integer{
    height: 44px;
}

.field-label{
    max-width: 100%;
    height: 22px;
    margin-top: 10px;
    background-color: #DADADA;
    border-radius: 0px 0px 8px 8px;
}

.header{
    margin-top: 50px;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
    margin-top: 27px!important;
}

.input-group {
    margin-top: 15px;
}

h2.bjqs-caption{
    display:block;
    width:96%;
    margin:0;
    padding-right:100px;
    position:absolute;
    bottom:0;
    font-weight: normal;
}

.well{
    margin-bottom: -9px!important;
}

.flinks-wrapper {
  background-color: #F8F8F8;
  border-radius: 4px;
  text-align: center;
}

.link-gplay, .link-wpstore {
  margin-left: 4px;
}
